// centers title of application
ion-title {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 90px 1px;
  width: 100%;
  height: 100%;
  text-align: center;
}

ion-item.list1 {
    background-color: rgba(0, 0, 0, 0);
    color: red;
}
/*ion-list.list1{
      background-color: rgba(0, 0, 0, 0);
}*/

// background image of home.html
.home {
  background-image: url(img/background1.jpg);
  color: red;
}

// sets colour of toolbar-background
.toolbar-background {
  background-color: skyblue;
}